		body {
			width: 60vw;
			margin: auto;
			background-color: #00799b;
			color: #e5fffd;
			}
			
		a {
			color: white;
			text-decoration: none;
		}
			
		nav ul  {
			float: right;
			}
			
		footer ul {
			text-align: center;
			}
			
		nav ul li, footer ul li {
			list-style-type: none;
			display: inline-block;
			position: relative;
			margin-right: 5px;
			font-weight: strong;
			}
			
			
		 nav ul li:hover, footer ul li:hover {
			color: #5bffff;
			}
			
		h1 {
			position: relative;
			margin-bottom: 0px;
			color: #ff9d35;
			}
			
		img {
			display: block;
			margin: auto;
			border: 4px solid white;
			}
			
		.responsive-splash {
			width: 100%;
			height: auto;
			}
			
		.responsive-photo {
			width: 90%;
			height: auto;
			margin-top: 20px;
			}
			
		.ebook-div {
			text-align: center;
			margin: 5% 0%;
			}
			
		.ebook-div input {
			margin-bottom:20px;
			}
			
		.customer-guarantee {
			margin-top: 20px;
			}
			
		.center-text {
			text-align: center;
			}
			
		video {
			width: 50%;
			display: block;
			margin: auto;
			margin-bottom: 20px;
			border: 4px solid white;
			}
			
		i {
			width: 90px;
			font-size: 90px;
			margin: auto;
			color: #ff9d35;
			}
			
			
		.product-explanation {
			overflow: auto;
			}
			
		.icon-group {
			margin-bottom: 20px;
			text-align: center;
			}
			
		.icon-group-services {
			display: inline;
			width: 15vw;
			margin-right: 2.5vw;
			margin-left: 2.5vw;
			float: left;
			text-align: center;
			margin-top: 5vw;
		}
			
		.icon-text {
			border: 2px solid white;
			padding: 10px;
		}
		
			
		.orange {
			color: #ff9d35;
		}
		
		.button-margin {
			margin-top: 2.5vw;
			margin-bottom: 2.5vw;
		}
		
		h1:hover, .free-ebook:hover {
			color: #ffcc00;
			}
		
		button {
			color: white;
			background-color: #ff9d35;
			padding: 10px;
			border: none;
			font-size: 12pt;
			display: block;
			margin: auto;
			width: auto;
			}
			
		button:hover {
			background-color: #ffcc00;
			}
			
		input {
			color: white;
			background-color: #ff9d35;
			font-size: 12pt;
			}
			
		::placeholder {
			color: white;
			}
			
		@media only screen and (min-width: 320px) {
			nav ul li, footer ul li {
				font-size: 20px;
			}
		}
	
		.white-border {
			border: 2px solid white;
		}
		
		.margin-top-bottom {
			margin-top: 4%;
			margin-bottom: 4%;
		}